* {
    border: 2px solid blue;
}

#a {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    box-sizing: border-box;
    margin: 0;
}

#tart {
    width: 100%;
    height: 150px;
    grid-column: 1/2;
    font-style: bold;
}

#sweet {
    width: 100%;
    height: 150px;
    background-color: grey;
}

#cherry {
    width: 50%;
    position: relative;
    top: -310px;

}

#cherries {
    width: 100%;
    height: 150px;
    background-color: grey;
    grid-column: 2/3;
}
